<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<!-- #START:link_registrations -->
<p>
  <%= link_to 'Posts', 
              user_posts_path(@user) %>
</p>
<!-- #END:link_registrations -->

<!-- #START:register -->
<%= link_to 'Post', new_user_post_path(@user) %>
<!-- #END:register -->
|
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= button_to 'Logout', logout_path, :method => :delete	%>