<h1>Editing post</h1>



<% form_for([@user, @post]) do |f| -%>
  <p>
    <b>Name</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [@user, @blog] %> |
<%= link_to 'Back', user_posts_path(@user) %>
<%= button_to 'Logout', logout_path, :method => :delete	%>