<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @post.description %>
</p>

<%= link_to 'Edit', 
            edit_user_post_path(@user, @post) %> |
<%= link_to 'Back', user_posts_path(@user) %>
<%= button_to 'Logout', logout_path, :method => :delete	%>